<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Press+Start+2P&family=Roboto&family=Source+Sans+Pro:wght@300;600&display=swap" rel="stylesheet"> 
        
        <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="data:;base64,=">
        <title>Sleepy's Anime List</title>
    </head>        
      <body>  
        <h1>Sleepy's Anime List</h1>

        
        <section id="formy">
            <form>
                <span id="add"> Add an Anime: </span>
            <input type ="text" placeholder = "Selector" id = "selector">
            <input type ="date" placeholder = "Start Date" id = "date">
            <input type ="text" placeholder = "MAL link here" id = "link">
            <button type = "button" id = "animeButton">Submit</button>
        </form>
        </section>

        <section>
            <table>
              <tr>
                <th class="numLeft">#</th>
                <th>Image</th>
                <th>Title</th>
                <th>Alternative Title</th>
                <th>Selector</th>
                <th>Start Date</th>
                <th></th>
              </tr>
              <% for (let i = 0; i < info.length; i++) {%>
                <tbody>
              <tr class = row>
                  <% if (i == 0) { %>
                        <td class="specialLeft numID"><%= i+1 %></td>
                <% } else {%>
                        <td class="left numID"><%= i+1 %></td>
                <% } %>
                <td class = imgTD><img src = "<%= info[i].animeImgUrl%>"></td>
                <td><a href="<%= info[i].animeURL%>" target = "_blank"><%= info[i].animeTitle %></a</td>
                <td><%= info[i].altTitle %></td>
                <td><%= info[i].selector %></td>
                <td><%= info[i].startDate %></td>
                <td class = "del"><img src="images/trash.png"></td>
              </tr>
              </tbody>
              <% } %>
            </table>





       


        

  

        <script src ="main.js"></script>
    </body>
</html>
